.cover {
  margin: 0 auto;
  position: relative;
  height: calc(100vw / 1.6);
  /* aspect-ratio: 1.6; */
  background-image: url(../../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover::after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2a2c2f;
  position: absolute;
  opacity: 0.3;
  transition: opacity 0.5s ease;
}

.cover:hover::after {
  opacity: 0.8;
}

@media screen and (min-width: 1280px) {
  .cover {
    height: 740px;
    max-width: 1184px;
  }
}
